.shit {
    display:inline-block;
    height:auto;
    margin:0 auto;
    padding:30px;
}
body {
    text-align:center;
}
img {
    height:15em;
    padding:0px;
}
#price { 
    font-family:Arial;
    color:white;
    font-size:50px;
    text-align:center;
}